
<!-- Developed : ManiMuniyan
Created <Date:05>
<06>
<2019></2019>
component names:PlayComponent,GameCityComponent -->
<div class="col-md-8">
<p>Welcome to GameCity! Your card balance is {{amount}}</p>
<div class="Container">
<table class="table-container table-responsive table-striped" >
  <tr>
    <th>GAME NAME</th>
    <th>GAME COST</th>
    <th>Operations</th>
  </tr>
  <tr *ngFor = "let game of GameList">
    <td>{{game.game_name}}</td>
    <td>{{game.game_cost}}</td>
  
    <td><button (click)="playnow"class="btn btn-link">PlayNow</button></td>
  </tr>
</table>
</div>
</div>